@page
@model StoreServer.Pages.Orders.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Neue Bestellung</h1>

<hr />

<div class="row mb-2">
    <div class="col-md-6">
        <div class="card h-100 p-4">
            <h5>Inventar</h5>

            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Name
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.InventoryItem[0].Count)
                        </th>
                        <th>
                            Infos
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.InventoryItem) {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.ItemIdentifier.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Count)
                            </td>
                            @if (item.Count < 10)
                            {
                                <td class="low">
                                    <p class="lowstock">Low in Stock!</p>
                               </td>
                            }else
                            {
                               <td>
                                    <p></p>
                               </td> 
                            }
                            <td>     
                                <a class="add" asp-route-data=@item.ItemIdentifier.ID asp-page-handler="AddOrderItem">Hinzufügen</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card h-100 p-4">
            <h5>Currently not in inventory</h5>

            <table class="table ">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.ItemIdentifier[0].Name)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.ItemIdentifier) {
                        @if (Model.InventoryItem.ToList().Find(inventoryItem => inventoryItem.ItemIdentifier.ID == item.ID) == null)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    <a class="add" asp-route-data=@item.ID asp-page-handler="AddOrderItem">Hinzufügen</a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="row mb-2">
    <div class="col-md-6">
        <div class="card h-100 p-4">
            <h5>OrderItems</h5>

            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Order.RecieveDate" />
                <input type="hidden" asp-for="Order.OrderDate" />
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                Name
                            </th>
                            <th>
                                Count
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        
                            @foreach (var item in Model.OrderItem) {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ItemIdentifier.Name)
                                    </td>

                                    <td>
                                        <div class="form-group">
                                            @*<input asp-for="@item.Count" class="form-control" />*@
                                            <input type="number"
                                               name="Count"
                                               value="@item.Count"
                                               
                                               />
                                            <span asp-validation-for="@item.Count" class="text-danger"></span>
                                        </div>      
                                    </td>
                                    <td>
                                        <a class="del" asp-route-data=@item.ItemIdentifier.ID asp-page-handler="RemoveOrderItem">Entfernen</a>
                                    </td>
                                </tr>
                            }
                            
                    </tbody>
                </table>
                <div class="form-group">
                    <input type="submit" value="Bestellen" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>
<div>
    <a class="back" asp-page="Index">Zurück</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
